.reelContentLayout {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.reelMainContent {
  flex: 2;
}

.reelSidebar {
  flex: 1;
}

.reelTitle small {
  opacity: 0.3;
  font-weight: bold;
  font-size: 0.7em;
}

.reelTitle svg {
  vertical-align: middle;
  margin-right: 0.25rem;
  position: relative;
  top: -3px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .reelContentLayout {
    flex-direction: column;
  }

  .reelMainContent,
  .reelSidebar {
    flex: auto;
    width: 100%;
  }
}
