.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonsGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.actionButtons {
  display: flex;
  gap: 8px;
}

.navigationButtons {
  display: flex;
  gap: 8px;
  padding: 0;
}

.navButton {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #495057;
  background-color: #f1f3f5;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid #e9ecef;
}

.navButton:hover {
  background-color: #e9ecef;
  color: #212529;
}



.navButton svg {
  font-size: 1rem;
  margin-right: 4px;
  margin-left: 4px;
}

.disabledLink {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.actionButton {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #495057;
  background-color: #f1f3f5;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid #e9ecef;
  cursor: pointer;
  outline: none;
}

.actionButton svg {
  font-size: 1rem;
  margin-right: 4px;
}

.playButton {
  width: 75px;
}

.playButton:hover {
  background-color: #e9ecef;
  color: #212529;
  border-color: #e9ecef;
}

.zoomButton:hover {
  background-color: #e9ecef;
  color: #212529;
  border-color: #e9ecef;
}

.deleteButton:hover {
  background-color: #e9ecef;
  color: #212529;
  border-color: #e9ecef;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}