.waveformContainer {
  position: relative;
  width: 100%;
}

.wrapper {
  width: 100%;
  /* background-color: #f8f9fa; */
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}

.wrapper canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  left: 0px;
  top: 0px;
}
